version: "2"
services:
  dbpostgres:
    container_name: postgres
    image: postgres
    hostname: postgres
    volumes:
      - ./DOCKER/POSTGRES/var/:/var/lib/postgresql
      - ./DOCKER/:/home/DBMOCKUP
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${DBUP_USER}
      POSTGRES_PASSWORD: ${DBUP_PASS}
      POSTGRES_DB: ${DBUP_NAME}
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    hostname: pgadmin
    ports:
      - 8888:80
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@orionedp.ch
      - PGADMIN_DEFAULT_PASSWORD=Passw0rd
